@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">


    <div class="container">
        <div class="card" style="padding: 10px 10px 10px 10px;">
            <h1 class="display-4">Covid Serve</h1>
            <div style="text-align: left">
                <h4>What is it ? </h4>
                <p style="font-size: large">A simple api service, serving country based clean statistical data on the COVID19 pandemic.</p>

                <h4>How can i consume it? </h4>
                <p style="font-size: large">Please refer to the documentation site.<br/><a href="https://blue-water-070724a0f.azurestaticapps.net/" target="_blank"> Documentation , Examples and About the project.</a></p>
                <p style="font-size: large"></p>


            </div>

        </div>

    </div>
</div>
